body {
    margin:0;
}

canvas {
    display:block;
    margin:40px auto;
    width:100%;
    max-width:1000px;
    background:#efefef;
}

button {
    border:none;
    background:#1D5F99;
    color:#fff;
    padding:10px 20px;
    display:table;
    margin:auto;
    outline:none;
}